.navbar
{

  padding: 0;
  height:50px;

}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%;


}


.navbar li {
  float: left;
}

.navbar li:last-child {
  border-right: none;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: #111;
}

.navbar .active {
  background-color: #4CAF50;
}
.navbar li #search {
  padding-top: 5%;

}

.navbar li #search input[type="text"] {
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  border: #6d6d6d;
  border: solid;
  font: bold 12px Arial,Helvetica,Sans-serif;
  color: white;
  background-color: #333;
  width: 150px;
  height: 30px;
  padding: 14px 16px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.navbar li #search input[type="text"]:focus {
  width: 150px;

}

.table{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}
h2, i{
  white-space: pre;
  color: #4CAF50;
  text-align: center;
}
.form-group{
  margin-left: 10%;
  margin-right: 60%;
}
.comment{
  margin-left: 10%;
  margin-right: 30%;
  border-radius: 10px;
  margin-bottom: 10px;
}
.btn-primary{
  border-color: #4CAF50;
  background: transparent;
  color: black;
}

.btn-primary:disabled {
  background-color: gray;
}
span{
  color: #4CAF50;
}
.table,body{
  margin-left: 10%;
  width:80%;
  background-color: aliceblue;
  border-radius: 10px;
  padding-left: 1px;
}

.error{
  color: red;
  padding-left: 1px;
  margin-left: 10%;
}
